/*GENERAL*/

@import url('nav.css');
@import url('letter.css');
@import url('footer.css');
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h3 {
    font: 900 18px/28px 'Montserrat', sans-serif;
    text-transform: uppercase;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: #60606e;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #999999;
}

input,
textarea {
    outline: none;
}

body {
    color: #60606e;
    font: 16px/30px 'Open Sans', sans-serif;
}


/*BUTTON*/

.button {
    color: white;
    text-transform: uppercase;
    width: 165px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    font: 700 14px/1 "Montserrat", sans-serif;
    background-color: #7beec7;
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transform: scale(1.01);
}

.button--header {
    margin-top: 45px;
}

.button--form {
    margin-top: 25px;
    width: 140px;
}


/*TITLE*/

.title-container,
.title-container--center {
    font: 700 30px/48px 'Montserrat', sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}

.title-container::after {
    content: "";
    display: block;
    width: 65px;
    height: 25px;
    background-color: #7beec7;
    position: absolute;
    bottom: 5px;
    z-index: -1;
}

.title-container--center::after {
    content: "";
    display: block;
    width: 65px;
    height: 25px;
    background-color: #7beec7;
    position: absolute;
    left: 28%;
    bottom: 5px;
    z-index: -1;
}

.title-about {
    /*ABOUT*/
    font: 700 30px/48px 'Montserrat', sans-serif;
    margin-top: 150px;
}

.subtitle {
    font: 700 14px/36px 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.text-container {
    width: 800px;
}

.title-icon {
    text-transform: uppercase;
    margin-left: 18px;
    font: 700 18px/48px 'Montserrat', sans-serif;
}


/*HEADER*/

.we-are {
    display: inline-block;
    padding: 5px 10px;
    background: #7beec7;
    text-transform: uppercase;
    font: 18px 'Montserrat', sans-serif;
}

.title-header {
    font: 36px/1 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 20px 35px;
    border: 10px solid;
}

.header-bg {
    background: url(../img/home-bg.png);
    background-size: cover;
    background-position: center;
    height: 850px;
    padding-top: 40px;
}

.header-bg_inner {
    height: 100%;
}

.header-about {
    width: 100%;
    height: 500px;
    background: url(../img/about-bg.jpg);
    background-position: top;
    background-size: cover;
    padding-top: 40px;
    text-transform: uppercase;
}

.about-describe {
    margin-top: 150px;
}

.history {
    margin-top: 20px;
}

.carousel-wrap {
    height: 100%;
}

@media (min-width: 992px) {
    .history {
        margin-top: -300px;
    }
    .carousel-wrap {
        height: 60%;
    }
}


/* bootstrap */

.carousel-fade .carousel-item {
    transform: none;
    opacity: 0;
}

.carousel-fade .carousel-item.active {
    transform: none;
    animation: fadeIn .5s;
    opacity: 1;
    transition: all .5s;
}

@keyframe fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
    margin-top: 70px;
}


/*CHOOSE US*/

.chooseus {
    padding: 100px;
}

@media screen and (max-width: 992px) {
    .chooseus {
        margin-top: 700px;
    }
}

.title-content {
    padding: 190px 0 100px;
}

.icon {
    font-size: 36px;
}

.chooseus-descriptions {
    text-transform: uppercase;
    font: 14px/30px 'Open Sans', sans-serif;
}

.name-options {
    font: 700 18px/48px 'Montserrat', sans-serif;
}

.team-more {
    margin: 10px 0 150px;
    height: 80px;
    font-style: italic;
    background-color: #efeff0;
}


/*ABOUT*/

.client-img {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.client-works {
    width: 165px;
    height: 100px;
    margin-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .1);
}

.client-works:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}


/*PORTFOLIO*/

.portfolio-content {
    @media (max-width: 1000px) {
        justify-content: center;
        align-items: center;
        border: 1px solid green;
    }
}

.filter-container {
    text-transform: uppercase;
}

.works-item {
    width: 30%;
    max-height: 170px;
    overflow: hidden;
    margin-bottom: 30px;
}

.works-item--big {
    max-height: 390px;
}

.works-item--medium {
    max-height: 260px;
}

.portfolio-works {
    margin-bottom: 150px;
    @media (max-width: 1000px) {
        margin: auto;
    }
}

.portfolio-title {
    font: 700 30px/48px 'Montserrat', sans-serif;
}

.portfolio-menu {
    font: 700 14px/48px 'Montserrat', sans-serif;
    margin: 30px 0 0 19px;
}

.portfolio-filter {
    cursor: pointer;
}

.active-filter {
    margin-left: -20px;
    background-color: #7beec7;
    padding: 0 10px;
    color: white;
}


/*ICON*/

.icon-check {
    color: white;
    background-color: #7beec7;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.icon-about {
    width: 40px;
    height: 40px;
    background-color: #7beec7;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

.icon-services {
    font-size: 60px;
    position: relative;
}

.icon-services::after {
    content: "";
    display: inline-block;
    width: 65px;
    height: 25px;
    background-color: #7beec7;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: -1;
}


/*CARDS*/

.cards {
    width: 340px;
    height: 485px;
    margin-left: 10px;
    border-top: 5px solid #7beec7;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.cards:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    transform: scale(1.1);
}

.cards-title {
    font: 700 30px/48px "Montserrat", sans-serif;
    text-transform: uppercase;
}

.card-price {
    color: white;
    width: 165px;
    height: 30px;
    background-color: #7beec7;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.list-item {
    text-transform: none;
}

.list-item::before {
    font-family: "Ionicons";
    content: '\f374';
    left: 30px;
    position: absolute;
    color: #7beec7;
}

@media (min-width: 992px) {
    .cards {
        padding-left: 50px;
    }
}


/*CONTACT US*/

.contact-info {
    margin-top: 70px;
    font: 14px/30px 'Open Sans', sans-serif;
}

.contact-adress {
    width: 280px;
}

.contact-email {
    font: 14px/48px "Montserrat", sans-serif;
    text-transform: none;
}

#map {
    width: 550px;
    height: 840px;
}